/* ARRET VIDEO 1:13:16 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'poppins', sans-serif;
}

:root{
    --main-color: #081b29;
    --blue-color: #00abf0;
    --text-color: #ededed;
    --text-color2: #edededd8;
    --animation_slideRight: slideRight 1s ease forwards;
    --animation_slideLeft: slideLeft .1s ease forwards;
    --animation_slideTop: slideTop 1s ease forwards;
    --animation_slideBottom: slideBottom .1s ease forwards;
    font-size: 1rem;
}

body {
    color: var(--text-color);
    background: var(--main-color);
}

.header {
    position: fixed;
    top: 0;
    left: 10;
    width: 100%;
    padding: 1.25rem 10%;
    background: var(--main-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    position: relative;
    font-size: 24.96px;
    color: var(--text-color);
    text-decoration: none;
    font-weight: 700;
    cursor: default;
    opacity: 0;
    animation: var(--animation_slideRight)
}

.navbar a {
    display: inline-block;
    font-size: 23.36px;
    color: var(--text-color);
    text-decoration: none;
    font-weight: 700;
    margin-left: 12.8px;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.navbar a:hover {
    color: var(--blue-color);
}

.home {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding: 69.92px 10% 0;
    background: url(./public/w.png) no-repeat;
    background-size: cover;
    background-position: center;
    align-items: center;
}

.home-content {
    max-width: 700px;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom .3s ease forwards;
    animation-delay: .7s;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 1.575rem;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
}

.home-content h3 span {
    color: var(--blue-color);
}

.nom_prenom {
    font-size: 3.5rem;
    font-weight: 700;
    margin: -0.1875rem 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}

.resumer {
    font-size: 1.25rem;
    font-weight: 400;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}

.home-social a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    background: transparent;
    border: .125rem solid var(--blue-color);
    border-radius: 50%;
    font-size: 1.25rem;
    color: var(--blue-color);
    text-decoration: none;
    opacity: 0;
    animation: slideLeft .1s ease forwards;
    animation-delay: calc(.2s * var(--i));
    transition: .5s ease;
    margin: 1.875rem .9375rem 1.875rem 0;
}

.home-social a:hover {
    background: var(--blue-color);
    color: #1f242d;
    box-shadow: 0 0 1.15rem var(--blue-color);
}

.btn-box {
    display: inline-block;
    padding: .65rem 1.65rem;
    background: var(--blue-color);
    border-radius: .625rem;
    box-shadow: 0 0 .125rem var(--blue-color);
    font-size: 1rem;
    color: #1f242d;
    letter-spacing: .0625rem;
    text-decoration: none;
    font-weight: 700;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 .3125rem var(--blue-color),
        0 0 1.5625rem var(--blue-color);
    transition: .5s ease;
}

.btn-box:hover {
    box-shadow: 0 0 .3125rem cyan,
        0 0 .625rem cyan,
        0 0 1.25rem cyan,
        0 0 1.875rem cyan;

}

.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.about-img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1; /* Cela permet à l'élément de prendre autant d'espace que possible */
}

.about-img img {
    max-width: 39.375rem;
    height: auto;
    width: 100%;
    border-radius: .5rem;
}

.about-text {
    flex: 1;
}

.about-text h2 {
    font-size: 3.75rem;
}

.about-text h2 span {
    color: var(--blue-color);
}

.about-text h4 {
    font-size: 1.8125rem;
    font-weight: 600;
    color: var(--text-color);
    line-height: 1.7;
    margin: .9375rem 0 1.875rem;
}

.about-text p {
    color: aliceblue;
    font-size: 1.25rem;
    line-height: 1.4;
    font-weight: 400;
    margin-bottom: 4rem;
}

#services {
    color: aliceblue;
    font-size: 1.25rem;
    line-height: 1.4;
    margin-bottom: 4rem;
}

.sub-title {
    text-align: center;
    font-size: 3.75rem;
    padding: 4.375rem;
}

.sub-title span {
    color: var(--blue-color);
}

.container {
    padding: 5.625rem;
}

.services-list {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
}

.services-list div {
    flex: 0 0 calc(33.3333% - 1.25rem); /* 3 éléments par ligne */
    box-sizing: border-box;
    padding: 1.25rem;
}

.services-list div i {
    font-size: 3.125rem;
    margin: 1.875rem 0 1.875rem 0;
}

.services-list div h2 {
    font-size: 1.875rem;
    font-weight: 600;
    margin-bottom: .9375rem;
    text-align: justify;
}

.services-list div a {
    text-decoration: none;
    color: #000000;
    font-size: .75rem;
    margin-top: 1.25rem;
    display: inline-block;
}

.read {
    display: inline-block;
    padding: .75rem 1.25rem;
    background: var(--blue-color);
    border-radius: .625rem;
    font-size: 1rem;
    color: #1f242d;
    letter-spacing: .0625rem;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 .3125rem var(--blue-color), 0 0 1.5625rem var(--blue-color);
}

.read:hover {
    box-shadow: 0 0 .125rem cyan, 0 0 .625rem cyan, 0 0 1.25rem cyan;
}

.services-list div:hover {
    transform: translateY(-0.625rem);
}

section.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 4.6875rem 5.3125rem;
}


.container1 {
    width: 50%;
    height: 31.25rem;
}

.heading1 {
    text-align: center;
    text-decoration: underline;
    text-underline-offset: .625rem;
    text-decoration-thickness: .3125rem;
    margin-bottom: 3.125rem;
}

.bar {
    margin-bottom: 1.25rem;
}

.bar i {
    font-size: 2.5rem;
    margin-bottom: 0px;
}
.Technical-bars .bar {
    margin-top: 0px ;
}

.Technical-bars .bar:first-child {
    margin-top: 0;
}

.Technical-bars .bar:last-child {
    margin-bottom: .625rem;
}

.Technical-bars .bar .info span {
    font-size: 1.0625rem;
    font-weight: 800;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}

.Technical-bars .bar .info {
    margin-bottom: .25rem;
}

.Technical-bars .bar .progress-line {
    position: relative;
    border-radius: .625rem;
    width: 100%;
    height: .3125rem;
    background-color: #000000;
    animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}

.Technical-bars .bar .progress-line span {
    height: 100%;
    background-color: var(--blue-color);
    position: absolute;
    border-radius: .625rem;
    animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}

.progress-line.html span {
    width: 90%;
}

.progress-line.css span {
    width: 80%;
}

.progress-line.javascript span {
    width: 60%;
}

.progress-line.cpp span {
    width: 50%;
}

.progress-line.python span {
    width: 60%;
}

.progress-line span::after {
    position: absolute;
    padding: .0625rem .5rem;
    background-color: #000;
    color: var(--text-color);
    font-weight: 600;
    font-size: .75rem;
    border-radius: .1875rem;
    top: -1.75rem;
    right: -1.25rem;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
}

.progress-line.html span:after {
    content: "90%";
}

.progress-line.css span:after {
    content: "60%";
}

.progress-line.javascript span:after {
    content: "85%";
}

.progress-line.cpp span:after {
    content: "90%";
}

.progress-line.python span:after {
    content: "90%";
}


.progress-line span::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: .4375rem solid transparent;
    border-bottom-width: 0rem;
    border-right-width: 0rem;
    top: -0.625rem;
    right: 0;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
}

/* ---------------------------------------- */








/* ------------------------------------ */
@keyframes slideRight {
    0% {
        opacity: 0;
        transform: translateX(-6.25rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideLeft {
    0% {
        opacity: 0;
        transform: translateX(6.25rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideTop {
    0% {
        opacity: 0;
        transform: translateY(6.25rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideBottom {
    0% {
        opacity: 0;
        transform: translateY(6.25rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes animate {
    100% {
        transform: scaleX(1);
    }
}

@keyframes showText {
    100% {
        opacity: 1;
    }
}
