/* ARRET VIDEO 1:13:16 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'poppins', sans-serif;
}

:root{
    --main-color: #081b29;
    --blue-color: #00abf0;
    --text-color: #ededed;
    --text-color2: #edededd8;
    --animation_slideRight: slideRight 1s ease forwards;
    --animation_slideLeft: slideLeft .1s ease forwards;
    --animation_slideTop: slideTop 1s ease forwards;
    --animation_slideBottom: slideBottom .1s ease forwards;
    font-size: 16px;
}

body {
    color: var(--text-color);
    background: var(--main-color);
}

.header {
    position: fixed;
    top: 0;
    left: 10;
    width: 100%;
    padding: 1.25rem 10%;
    background: var(--main-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    position: relative;
    font-size: 1.56rem;
    color: var(--text-color);
    text-decoration: none;
    font-weight: 700;
    cursor: default;
    opacity: 0;
    animation: var(--animation_slideRight)
}

.navbar a {
    display: inline-block;
    font-size: 1.46rem;
    color: var(--text-color);
    text-decoration: none;
    font-weight: 700;
    margin-left: .8rem;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.navbar a:hover {
    color: var(--blue-color);
}

.home {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding: 4.37rem 10% 0;
    background: url('./public/w.png') no-repeat;
    background-size: cover;
    background-position: center;
    align-items: center;
}
#img_principale{
  display: none;
}

.home-content {
    max-width: 43.75rem;
}

.home-content h3 {
    font-size: 2rem;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom .3s ease forwards;
    animation-delay: .7s;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 1.575rem;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
}

.home-content h3 span {
    color: var(--blue-color);
}

.nom_prenom {
    font-size: 3.5rem;
    font-weight: 700;
    margin: -0.1875rem 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}

.resumer {
    font-size: 1.25rem;
    font-weight: 400;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}

.home-social a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    background: transparent;
    border: .125rem solid var(--blue-color);
    border-radius: 50%;
    font-size: 1.25rem;
    color: var(--blue-color);
    text-decoration: none;
    opacity: 0;
    animation: slideLeft .1s ease forwards;
    animation-delay: calc(.2s * var(--i));
    transition: .5s ease;
    margin: 1.875rem .9375rem 1.875rem 0;
}

.home-social a:hover {
    background: var(--blue-color);
    color: #1f242d;
    box-shadow: 0 0 1.15rem var(--blue-color);
}

.btn-box {
    display: inline-block;
    padding: .65rem 1.65rem;
    background: var(--blue-color);
    border-radius: .625rem;
    box-shadow: 0 0 .125rem var(--blue-color);
    font-size: 1rem;
    color: #1f242d;
    letter-spacing: .0625rem;
    text-decoration: none;
    font-weight: 700;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 .3125rem var(--blue-color),
        0 0 1.5625rem var(--blue-color);
    transition: .5s ease;
}

.btn-box:hover {
    box-shadow: 0 0 .3125rem cyan,
        0 0 .625rem cyan,
        0 0 1.25rem cyan,
        0 0 1.875rem cyan;

}

.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.about-img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1; /* Cela permet à l'élément de prendre autant d'espace que possible */
}

.about-img img {
    max-width: 39.375rem;
    height: auto;
    width: 100%;
    border-radius: .5rem;
}

.about-text {
    flex: 1;
}

.about-text h2 {
    font-size: 3.75rem;
}

.about-text h2 span {
    color: var(--blue-color);
}

.about-text h4 {
    font-size: 1.8125rem;
    font-weight: 600;
    color: var(--text-color);
    line-height: 1.7;
    margin: .9375rem 0 1.875rem;
}

.about-text p {
    color: aliceblue;
    font-size: 1.25rem;
    line-height: 1.4;
    font-weight: 400;
    margin-bottom: 4rem;
}

#services {
    color: aliceblue;
    font-size: 1.25rem;
    line-height: 1.4;
    margin-bottom: 4rem;
}

.sub-title {
    text-align: center;
    font-size: 3.75rem;
    padding: 4.375rem;
}

.sub-title span {
    color: var(--blue-color);
}

.container {
    padding: 5.625rem;
}

.services-list {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
}

.services-list div {
    flex: 0 0 calc(33.3333% - 1.25rem); /* 3 éléments par ligne */
    box-sizing: border-box;
    padding: 1.25rem;
}

.services-list div i {
    font-size: 3.125rem;
    margin: 1.875rem 0 1.875rem 0;
}

.services-list div h2 {
    font-size: 1.875rem;
    font-weight: 600;
    margin-bottom: .9375rem;
    text-align: justify;
}

.services-list div a {
    text-decoration: none;
    color: #000000;
    font-size: .75rem;
    margin-top: 1.25rem;
    display: inline-block;
}

.read {
    display: inline-block;
    padding: .75rem 1.25rem;
    background: var(--blue-color);
    border-radius: .625rem;
    font-size: 1rem;
    color: #1f242d;
    letter-spacing: .0625rem;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 .3125rem var(--blue-color), 0 0 1.5625rem var(--blue-color);
}

.read:hover {
    box-shadow: 0 0 .125rem cyan, 0 0 .625rem cyan, 0 0 1.25rem cyan;
}

.services-list div:hover {
    transform: translateY(-0.625rem);
}

section.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
    padding: 4.6875rem 5.3125rem;
}


.container1 {
    width: 50%;
    padding: .3125rem;
}

.heading1 {
    text-align: center;
    text-decoration: underline;
    text-underline-offset: .625rem;
    text-decoration-thickness: .3125rem;
    margin-bottom: 3.125rem;
}

.bar {
    margin-bottom: 1.25rem;
}

.bar i {
    font-size: 2.5rem;
    margin-bottom: 0rem;
}
.Technical-bars .bar {
    margin-top: 0rem ;
}

.Technical-bars .bar:first-child {
    margin-top: 0;
}

.Technical-bars .bar:last-child {
    margin-bottom: .625rem;
}

.Technical-bars .bar .info span {
    font-size: 1.0625rem;
    font-weight: 800;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}

.Technical-bars .bar .info {
    margin-bottom: .25rem;
}

.Technical-bars .bar .progress-line {
    position: relative;
    border-radius: .625rem;
    width: 100%;
    height: .3125rem;
    background-color: #000000;
    animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}

.Technical-bars .bar .progress-line span {
    height: 100%;
    background-color: var(--blue-color);
    position: absolute;
    border-radius: .625rem;
}

.Technical-bars .bar .progress-line span.animate{
    animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}

.progress-line span {
    width: var(--percentage);
}


.progress-line span::after {
    position: absolute;
    padding: .0625rem .5rem;
    background-color: #000;
    color: var(--text-color);
    font-weight: 600;
    font-size: .75rem;
    border-radius: .1875rem;
    top: -1.75rem;
    right: -1.25rem;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
}

.progress-line.html span:after {
    content: "90%";
}

.progress-line.css span:after {
    content: "70%";
}

.progress-line.javascript span:after {
    content: "70%";
}

.progress-line.cpp span:after {
    content: "75%";
}

.progress-line.python span:after {
    content: "80%";
}


.progress-line span::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: .4375rem solid transparent;
    border-bottom-width: 0rem;
    border-right-width: 0rem;
    top: -0.625rem;
    right: 0;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;
}

/* ---------------------------------------- */
.container1:nth-of-type(2) {
    padding-left: 7.5rem;
    padding-right: 7.5rem;
}
.radial-bars {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.radial-bar {
    flex: 0 0 calc(33.3333% - 1.25rem); /* la largeur des éléments*/
    margin: .625rem; 
  }

.radial-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.radial-bar .text{
  font-size: 1.125rem;
  font-weight: 800;
  margin: .625rem;
  text-align: center;
}


.portfolio-content {
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;
    margin-top: 5rem;
    padding: 0 2rem;
    justify-content: space-around;
    align-items: center
}

.row {
    flex: 0 0 calc(32% - 1.25rem); 
    position: relative;
    overflow: hidden;
    border-radius: .5rem;
    cursor: pointer;
}


.row img {
    width: 100%;
    border-radius: .5rem;
    display: block;
    transition: transform 0.5s;
}

.layer {
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(255, 255, 255, 0.2), var(--blue-color));
    position: absolute;
    border-radius: .5rem;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 2.5rem;
    transition: height 0.5s;
}

.layer h5 {
    color: black;
    font-size: 1.25rem;
    font-weight: 800;
    margin-bottom: .9375rem;
}

.layer p {
    color: black;
    font-size: 1.05rem;
    font-weight: 500;
    line-height: 1.8;
}

.layer i {
    color: var(--blue-color);
    margin-top: 1.25rem;
    font-size: 1.25rem;
    background: white;
    width: 3.75rem;
    height: 3.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.row:hover img {
    transform: scale(1.1);
}

.row:hover .layer {
    height: 100%;
}

.contact {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 3rem;
    padding-left: 1.875rem;
    margin-top: 8.125rem;
}

.contact-text h2 {
    font-size: 5.625rem;
    line-height: 1;
    text-align: center;
}

.contact-text h2 span {
    color: var(--blue-color);
}

.contact-text h4 {
    margin: .9375rem 0;
    color: rgb(228, 228, 228);
    font-size: 1.25rem;
    font-weight: 600;
}

.contact-text p {
    color: rgb(177, 177, 177);
    font-size: 1.25rem;
    line-height: 1.875rem;
    margin-bottom: 2rem;
}

.contact-list {
    margin-bottom: 3rem;
}

.contact-list li {
    display: block;
    margin-bottom: .625rem;
}
.contact-list i {
    display: inline-block;
    margin-bottom: .625rem;
    margin-right: .625rem;
    color: var(--blue-color);
    font-size: 1.25rem;
    font-weight: 600;
    transition: all .40s ease;
}

.contact-list li a:hover {
    transform: scale(1.01) translateY(-0.3125rem);
    color: var(--blue-color);
}

.contact-icons i {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 2.5rem;
    background: transparent;
    border: .125rem solid var(--blue-color);
    border-radius: 50%;
    font-size: 1.25rem;
    color: var(--blue-color);
    text-decoration: none;
    margin: 1.875rem .9375rem 1.875rem 0;
    transition: all .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.contact-icons i:hover {
    background: var(--blue-color);
    color: #000;
    box-shadow: 0 0 1.25rem var(--blue-color);
}

.contact-form form {
    position: relative;
}

.contact-form form input,
form textarea {
    border: none;
    outline: none;
    width: 90%;
    padding: .9375rem;
    background: #555557;
    color: #000;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: .5rem;
    border-radius: .5rem;
}

.contact-form textarea {
    resize: none;
    height: 13.75rem;
}

.contact-form form .send {
    display: inline-block;
    padding: .75rem 3.75rem;
    background: var(--blue-color);
    border-radius: 2.5rem;
    font-size: 1.125rem;
    color: #1f242d;
    letter-spacing: .0625rem;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 .3125rem var(--blue-color),
        0 0 1.5625rem var(--blue-color);

}


.contact-form form .send:hover {
    box-shadow: 0 0 .3125rem cyan,
        0 0 1.5625rem cyan,
        0 0 6.25rem cyan;
}

.contact-list a {
    text-decoration: none; 
    color: inherit; 
    cursor: pointer; 
    outline: none; 
}

.contact-list a:hover {
    text-decoration: underline; 
}

.contact-list a:active {
    text-decoration: underline; 
}

.last-text p {
    text-align: center;
    width: 100%;
    padding: 1.5625rem 0;
    background: rgb(7, 85, 91);
    font-size: .875rem;
    letter-spacing: .0625rem;
    font-weight: 300;
}

.top {
    position: fixed;
    bottom: 2.1rem;
    right: 1.5rem;
    z-index: 100;
    display: none;
    justify-content: center;
    align-items: center;
    padding: .625rem;
    background: var(--blue-color);
    border-radius: 50%;
    font-size: 1.25rem;
    color: #000;
    text-decoration: none;
    opacity: 0;
    animation: slideRight .1s ease forwards;
    animation-delay: 0.8s;
}


.top i {
    color: #000;
    background: var(--blue-color);
    font-size: 1.25rem;
    padding: .625rem;
    border-radius: .5rem;
    box-shadow: 0 0 .3125rem var(--blue-color),
        0 0 1.5625rem var(--blue-color);
}










/* ------------------------------------ */
@keyframes slideRight {
    0% {
        opacity: 0;
        transform: translateX(-6.25rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideLeft {
    0% {
        opacity: 0;
        transform: translateX(6.25rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideTop {
    0% {
        opacity: 0;
        transform: translateY(6.25rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideBottom {
    0% {
        opacity: 0;
        transform: translateY(6.25rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes animate {
    100% {
        transform: scaleX(1);
    }
}

@keyframes showText {
    100% {
        opacity: 1;
    }
}


/* ------------------------------------ */

/* ----------------------------------------------------------------------------------------------- */
